body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Girassol', cursive;
  background-image: url('./images/bg.png');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #E64C3C;
  padding: 1px;
  box-sizing: border-box;
}